
<div class="enjambre-section-title">
  <img class="enjambre-section-img" src="images/enjambre_bit_logo.png">
  {{title}}
</div>

<section id={{id}} class="light-wrapper">
  <div class="section-head">
  </div>

  <div class="container inner inner-{{id}}">
    {{yield}}
  </div>
</section>
