<footer class="light-wrapper text-center">
    <div class="container inner">
        <p>© 2016 Enjambre Bit SRL.</p>
        <ul class="social gray">
            <li><a href="https://twitter.com/enjambrebit"><i class="icon-s-twitter"></i></a></li>
            <li><a href="https://facebook.com/EnjambreBit"><i class="icon-s-facebook"></i></a></li>
            <li><a href="https://instagram.com/EnjambreBit"><i class="icon-s-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/company/enjambre-bit-srl"><i class="icon-s-linkedin"></i></a></li>
            <li><a href="https://github.com/EnjambreBit"><i class="icon-s-github"></i></a></li>
        </ul>
    </div>
</footer>
