  <section id="lightbox" class="light-wrapper">
    <div class="section-head">
      <div class="container">
        <h1>Lightbox Portfolio</h1>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.section-head -->
    <div class="container lightbox-wrapper">
      <div class="inner">
        <p class="lead">Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <div class="divide30"></div>
        
        <ul class="items thumbs">
			
			{{#enjambre-work-item tagName="" type="desarrollo" title="Indexar" name="indexar" description="Portal de noticias"}}
				<div class="work-item-description">
					Desarrollo de frontend y mejoras en backend.
				</div>
				<div class="work-item-techs">
					Desarrollado con Laravel, MySQL, Ember, Materialize.
				</div>
				<div class="work-item-screenshot">
					FOTO AQUI
				</div>
				<a class="work-item-blog-link" href="http://blog.enjambrelab.com.ar/resena-del-proyecto-indexar-com-ar/">+ info</a>
			{{/enjambre-work-item}}

			{{#enjambre-work-item tagName="" type="desarrollo multimedia" title="Podcast Igualdad" name="podcast-igualdad" description="Diseño y desarrollo de un prototipo de portal de podcasting"}}
				<h3>Podcast Igualdad</h3>
				<div class="work-item-video">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/WIwGV3Y9ufQ" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="work-item-description">
					<h5>Cliente</h5>
					<p>Fernado Farías - Federico Satori</p>
					<h5>¿Qué hicimos?</h5>
					<p>Diseño de marca y sitio. Desarrollo de plataforma de publicación de podcasts. Animación y edición de videotutoriales y video institucional.</p>
				</div>
				<div class="work-item-techs">
					<h5>¿Con qué lo hicimos?</h5>
					<ul>
						<li><b>Desarrollo:</b> Django, SQLite.</li>
						<li><b>Diseño:</b> Inkscape, GIMP.</li>
						<li><b>Animación:</b> Blender.</li>
						<li><b>Edición:</b> KDEnlive, Audacity.</li>
					</ul>
				</div>
				<a class="work-item-blog-link" href="http://blog.enjambrelab.com.ar/podcast-igualdad/">+ info</a>
				
			{{/enjambre-work-item}}

			{{#enjambre-work-item tagName="" type="desarrollo" title="Spectro" name="spectro" description="Desarrollo de API para manejo de microservicios. "}}
				<div class="work-item-description">
					Desarrollo de API para manejo de microservicios.
				</div>
				<div class="work-item-techs">
					Desarrollado con Flask.
				</div>
				<div class="work-item-screenshot">
					FOTO AQUI
				</div>
				<a class="work-item-blog-link" href="http://blog.enjambrelab.com.ar/creando-api-con-flask/">+ info</a>
			{{/enjambre-work-item}}
			
        </ul>
        <!--/.items--> 
      </div>
      <!--/.inner--> 
    </div>
    <!--/.container--> 
  </section>
  <!--/#lightbox-->

