  <section id="lightbox" class="light-wrapper">
    <div class="section-head">
      <div class="container">
        <h1>Lightbox Portfolio</h1>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.section-head -->
    <div class="container lightbox-wrapper">
      <div class="inner">
        <p class="lead">Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <div class="divide30"></div>

        <ul class="items thumbs">

			{{#enjambre-work-item tagName="" type="desarrollo" title="Fundación Sadosky" name="fundacion-sadosky" description="Desarrollo y diseño para Pilas Bloques"}}
        <h3>Pilas Bloques</h3>
        <div class="work-item-screenshot">
          <img src="images/trabajos/fundacion-sadosky_screenshot.jpg" />
          <!-- <div class="work-item-video">
  					<iframe width="1024" height="315" src="http://pilasbloques.program.ar/online/#/desafios/InstalandoJuegos" frameborder="0" allowfullscreen></iframe>
  				</div> -->
        </div>
        <div class="work-item-description">
          <h5>Cliente</h5>
          <p>Fundación Manuel Sadosky / Iniciativa Program.AR</p>
          <h5>¿Qué hacemos?</h5>
          <p>Estamos desarrollando y mejoran Pilas Bloques, diseñando y creando nuevas actividades.</p>
        </div>
        <div class="work-item-techs">
					<h5>¿Con qué lo hacemos?</h5>
					<ul>
						<li><b>Desarrollo:</b> Ember JS, Electron, Pilas Web.</li>
						<li><b>Diseño:</b> Inkscape, GIMP.</li>
					</ul>
				</div>
        <div class="work-item-url">
          Ir a <a href="http://pilasbloques.program.ar/online/" target="_blank" title="Pilas Bloques Online">Pilas Bloques Online</a>
        </div>
			{{/enjambre-work-item}}

			{{#enjambre-work-item tagName="" type="desarrollo" title="World Democratic Forum" name="igm" description="Desarrollo y diseño responsive para mapa IGM."}}
        <h3>Mapa del IGM</h3>
        <div class="work-item-screenshot">
          <img src="images/trabajos/igm_screenshot.jpg" />
        </div>
        <div class="work-item-description">
					<h5>Cliente</h5>
					<p>World Democratic Forum</p>
					<h5>¿Qué hicimos?</h5>
					<p>Adaptación de mapa y tabla de IGM para que sea responsive y se pueda visualizar integrado al drupal 7. Adaptación de scripts para funcionamiento en 3 idiomas.</p>
				</div>
        <div class="work-item-url">
          Ir a <a href="http://fdm.rio20.net/?q=es/node/2115" target="_blank" title="Mapa del IGM en Foro Democrático Mundial">Mapa del IGM</a>
        </div>
			{{/enjambre-work-item}}

			{{#enjambre-work-item tagName="" type="desarrollo multimedia" title="Podcast Igualdad" name="podcast-igualdad" description="Diseño y desarrollo de un prototipo de portal de podcasting"}}
				<h3>Podcast Igualdad</h3>
				<div class="work-item-video">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/WIwGV3Y9ufQ" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="work-item-description">
					<h5>Cliente</h5>
					<p>Fernado Farías - Federico Satori</p>
					<h5>¿Qué hicimos?</h5>
					<p>Diseño de marca y sitio. Desarrollo de plataforma de publicación de podcasts. Animación y edición de videotutoriales y video institucional.</p>
				</div>
				<div class="work-item-techs">
					<h5>¿Con qué lo hicimos?</h5>
					<ul>
						<li><b>Desarrollo:</b> Django, SQLite.</li>
						<li><b>Diseño:</b> Inkscape, GIMP.</li>
						<li><b>Animación:</b> Blender.</li>
						<li><b>Edición:</b> KDEnlive, Audacity.</li>
					</ul>
				</div>
        <div class="work-item-url">
          Ir a <a href="http://www.podcastigualdad.com.ar/" target="_blank" title="Podcast Igualdad">www.podcastigualdad.com.ar</a>
        </div>
				<a class="work-item-blog-link" href="http://blog.enjambrelab.com.ar/podcast-igualdad/">Ver post en nuestro Blog</a>
			{{/enjambre-work-item}}

			{{#enjambre-work-item tagName="" type="desarrollo" title="Precintos Berkos SA" name="precintos-berko" description="Diseño y maquetación de sitio web."}}
        <h3>Website Precintos Berko S.A.</h3>
        <div class="work-item-screenshot">
          <img src="images/trabajos/precintos-berko_screenshot.jpg" />
        </div>
        <div class="work-item-description">
          <h5>Cliente</h5>
          <p>Precintos Berko S.A.</p>
          <h5>¿Qué hicimos?</h5>
          <p>Diseño y maquetación del sitio web de la empresa.</p>
        </div>
        <div class="work-item-url">
          Ir a <a href="http://www.berko.com.ar/" target="_blank" title="Precintos Berko S.A.">www.berko.com.ar</a>
        </div>
			{{/enjambre-work-item}}

			{{#enjambre-work-item tagName="" type="desarrollo" title="Indexar" name="indexar" description="Portal indexador de noticias"}}
        <h3>Indexar</h3>
        <div class="work-item-screenshot">
          <img src="images/trabajos/indexar_screenshot.jpg" />
        </div>
        <div class="work-item-description">
          <h5>Cliente</h5>
          <p>Indexar, lo que los medios dicen</p>
          <h5>¿Qué hicimos?</h5>
          <p>Maquetación y desarrollo del front-end y refactor del backend.</p>
        </div>
        <div class="work-item-techs">
					<h5>¿Con qué lo hicimos?</h5>
					<ul>
						<li>Laravel, MySQL, Ember JS, Materialize.</li>
					</ul>
				</div>
        <div class="work-item-url">
          Ir a <a href="http://www.indexar.com.ar" target="_blank" title="Indexar, lo que los medios dicen">www.indexar.com.ar</a>
        </div>
				<a class="work-item-blog-link" href="http://blog.enjambrelab.com.ar/resena-del-proyecto-indexar-com-ar/">Ver post en nuestro Blog</a>
			{{/enjambre-work-item}}

			{{#enjambre-work-item tagName="" type="desarrollo" title="Spectro" name="spectro" description="Desarrollo de API para manejo de microservicios. "}}
        <h3>Spect.ro</h3>
        <div class="work-item-screenshot">
          <img src="images/trabajos/spectro_screenshot.jpg" />
        </div>
        <div class="work-item-description">
          <h5>Cliente</h5>
          <p>Spect.ro</p>
          <h5>¿Qué hicimos?</h5>
          <p>Desarrollo de API para manejo de microservicios.</p>
        </div>
        <div class="work-item-techs">
          <h5>¿Con qué lo hicimos?</h5>
          <ul>
            <li>Flask</li>
          </ul>
        </div>
				<a class="work-item-blog-link" href="http://blog.enjambrelab.com.ar/creando-api-con-flask/">Ver post en nuestro Blog</a>
			{{/enjambre-work-item}}


        </ul>
        <!--/.items-->
      </div>
      <!--/.inner-->
    </div>
    <!--/.container-->
  </section>
  <!--/#lightbox-->
