<div id="mobile-menu-container" class="mobile-menu">
    <button id="button-menu" class="btn btn-mini">&#9776;</button>
    <ul id="mobile-menu" class="mobile-menu-nav nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">Enjambre Bit</a></li>
        <li><a href="#contact">Contacto</a></li>
        <li><a href="http://blog.enjambrelab.com.ar" title="Nuestro Blog" target="_blank">Blog</a></li>
    </ul>
</div>

<div id="header" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            
            <div class="nav-collapse pull-right collapse">
                <ul class="nav">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">Enjambre Bit</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <li><a href="http://blog.enjambrelab.com.ar" title="Nuestro Blog" target="_blank">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="header-small" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="index.html"><img src="images/enjambre_bit_logo_navbar-small.png" alt="" /></a>
            <div class="nav-collapse pull-right collapse">
                <ul class="nav">
                    <li><a href="#home">Home</a></li>
                    <li> <a href="#about">Enjambre Bit</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <li><a href="http://blog.enjambrelab.com.ar" title="Nuestro Blog" target="_blank">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
