<div class="fullwidthbanner-container revolution">
  <div class="fullwidthbanner">
    <ul>
      <li data-transition="fade"> <img src="images/slides/slide_01.jpg" alt="" />
        <div class="caption sfr little bg text-center" data-x="center" data-y="440" data-speed="1800" data-start="300" data-easing="easeOutExpo">Diseñamos. Creamos. Desarrollamos.</div>
        <div class="caption sfb icon bg" data-x="510" data-y="498" data-speed="800" data-start="1300" data-easing="easeOutExpo"><a href="https://twitter.com/enjambrebit"><i class="icon-s-twitter"></i></a></div>
        <div class="caption sfb icon bg" data-x="560" data-y="498" data-speed="800" data-start="1500" data-easing="easeOutExpo"><a href="https://facebook.com/EnjambreBit"><i class="icon-s-facebook"></i></a></div>
        <div class="caption sfb icon bg" data-x="610" data-y="498" data-speed="800" data-start="1700" data-easing="easeOutExpo"><a href="https://www.linkedin.com/company/enjambre-bit-srl"><i class="icon-s-linkedin"></i></a></div>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>
