<!--
<div class="fullwidthbanner-container revolution">
  <div class="fullwidthbanner">
    <ul>
          <li data-transition="fade"> <img src="images/slides/slide_01.png" alt="" />
            <div class="caption sfr little bg text-center" data-x="center" data-y="440" data-speed="1800" data-start="300" data-easing="easeOutExpo">Diseñamos. Creamos. Desarrollamos.</div>
            <div class="caption sfb icon bg" data-x="480" data-y="498" data-speed="800" data-start="1300" data-easing="easeOutExpo"><a href="https://twitter.com/enjambrebit"><i class="icon-s-twitter"></i></a></div>
            <div class="caption sfb icon bg" data-x="530" data-y="498" data-speed="800" data-start="1500" data-easing="easeOutExpo"><a href="https://facebook.com/EnjambreBit"><i class="icon-s-facebook"></i></a></div>
            <div class="caption sfb icon bg" data-x="580" data-y="498" data-speed="800" data-start="1700" data-easing="easeOutExpo"><a href="https://www.linkedin.com/company/enjambre-bit-srl"><i class="icon-s-linkedin"></i></a></div>
            <div class="caption sfb icon bg" data-x="630" data-y="498" data-speed="800" data-start="1900" data-easing="easeOutExpo"><a href="https://github.com/EnjambreBit"><i class="icon-s-github"></i></a></div>
          </li>
    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>

-->

<div class="bannercontainer">
    <div class="banner" id="slider">

        <ul>
        <!-- THE BOXSLIDE EFFECT EXAMPLES  WITH LINK ON THE MAIN SLIDE EXAMPLE -->

            <li data-transition="fade" data-slotamount="7">
                <img src="images/slides/slide_01.png" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                <div class="caption caption-invisible sfr little bg text-center" data-x="center" data-y="440" data-speed="1800" data-start="300" data-easing="easeOutExpo">Diseñamos. Creamos. Desarrollamos.</div>
                <div class="caption caption-invisible sfb icon bg" data-x="850" data-y="500" data-speed="800" data-start="1300" data-easing="easeOutExpo"><a href="https://twitter.com/enjambrebit"><i class="icon-s-twitter"></i></a></div>
                <div class="caption caption-invisible sfb icon bg" data-x="900" data-y="500" data-speed="800" data-start="1500" data-easing="easeOutExpo"><a href="https://facebook.com/EnjambreBit"><i class="icon-s-facebook"></i></a></div>
                <div class="caption caption-invisible sfb icon bg" data-x="950" data-y="500" data-speed="800" data-start="1700" data-easing="easeOutExpo"><a href="https://www.linkedin.com/company/enjambre-bit-srl"><i class="icon-s-linkedin"></i></a></div>
                <div class="caption caption-invisible sfb icon bg" data-x="1000" data-y="500" data-speed="800" data-start="1900" data-easing="easeOutExpo"><a href="https://github.com/EnjambreBit"><i class="icon-s-github"></i></a></div>
            </li>
        ...
        </ul>

    </div>
</div>
