<footer class="light-wrapper text-center">
  <div class="container inner">
    <p>© 2015 Enjambre Bit SRL.</p>
    <ul class="social gray">
      <li><a href="https://twitter.com/enjambrebit"><i class="icon-s-twitter"></i></a></li>
      <li><a href="https://facebook.com/EnjambreBit"><i class="icon-s-facebook"></i></a></li>
      <li><a href="https://www.linkedin.com/company/enjambre-bit-srl"><i class="icon-s-linkedin"></i></a></li>
    </ul>
  </div>
</footer>
