.simple-box {
  border: 2px solid #BBB;
  background-color: white;
  margin: 2em;
  padding: 4px;
}

.simple-box-title {
  margin: -2px;
  background-color: #A80000;
  color: white;
  margin-bottom: 20px;
  padding: 5px;
  font-weight: 700;
}
