@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

footer {
  display: none;
}

.fullscreen-bg {
  /*width: 1920px;
  height: 1024px;*/
}

.fullscreen-bg_video {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.ebit-home {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: -100;
    background: url('../images/fondos/enjambre-bit_home-placeholder_seguinos.jpg') center center / cover no-repeat;
    min-height: 950px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.fixed-contact-info {
  text-align: center;
}

.fixed-contact-info ul {
  margin: 0;
  padding-top: 40px;
  font-size: 1.8em;
  padding-left: 0;
}

.fixed-contact-info ul > li {
  display: inline;
  color: #fff;
  margin: 0 8px;
}

.fixed-contact-info ul > li > a,
.enjambre-footer-logo a {
  color: #480000;
}

.fixed-contact-info ul > li > a:hover,
a:hover .icon-s-twitter,
a:hover .icon-s-facebook,
a:hover .icon-s-instagram,
a:hover .icon-s-youtube,
a:hover .icon-s-linkedin,
a:hover .icon-s-github,
.enjambre-footer-logo a:hover {
  color: #ffffff !important;
}

@media screen
  and (max-width: 768px) {
    .ebit-home {
      text-align: center;
    }

    .ebit-home img {
      width: 80%;
    }
}
@media screen
  and (min-width: 768px)
  and (max-width: 1024px) {
    .ebit-home {
    }
}
