
				{{#carousel-container transition-interval=100}}
				  {{#carousel-body}}
				    {{#carousel-item}}
							<a href="#casa-tomada">
								<div class="aligner ebp ebp_sonidos-mutantes">
									<div class="aligner-item">
										<h3>Sonidos Mutantes <span class="red">|</span> <span class="yellow">VJ</span></h3>
									</div>
								</div>
							</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
							<a href="http://pilasbloques.program.ar/" title="Pilas Bloques" target="_blank">
								<div class="aligner ebp ebp_sadosky">
									<div class="aligner-item">
										<h3>Fundación Sadosky <span class="red">|</span> <span class="yellow">Videojuegos <span class="red">|</span> Desarrollo</span></h3>
									</div>
								</div>
							</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
							<a href="http://fdm.rio20.net/?q=es/node/2115" title="World Democratic Forum" target="_blank">
								<div class="aligner ebp ebp_wdf">
									<div class="aligner-item">
										<h3>World Democratic Forum <span class="red">|</span> <span class="yellow">Responsive Design</span></h3>
									</div>
								</div>
							</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
							<a href="http://www.indexar.com.ar" title="Indexar" target="_blank">
								<div class="aligner ebp ebp_indexar">
									<div class="aligner-item">
										<h3>Indexar <span class="red">|</span> <span class="yellow">Frontend <span class="red">|</span> Desarrollo</span></h3>
									</div>
								</div>
							</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
						<a href="http://www.berko.com.ar" title="Precintos Berko S.A." target="_blank">
							<div class="aligner ebp ebp_berko">
								<div class="aligner-item">
									<h3>Berko S.A. <span class="red">|</span> <span class="yellow">Website Design</span></h3>
								</div>
							</div>
						</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
						<a href="http://www.podcastigualdad.com.ar" title="Podcast Igualdad" target="_blank">
							<div class="aligner ebp ebp_podcast-igualdad">
								<div class="aligner-item">
									<h3>Podcast Igualdad <span class="red">|</span> <span class="yellow">Desarrollo</span></h3>
								</div>
							</div>
						</a>
				    {{/carousel-item}}
				  {{/carousel-body}}

				  {{#carousel-arrow direction="left" tagName="div" class="line-arrow line-arrow-left"}}
				  {{/carousel-arrow}}
				  {{#carousel-arrow direction="right" tagName="div" class="line-arrow line-arrow-right"}}
				  {{/carousel-arrow}}
				{{/carousel-container}}
