
				{{#carousel-container transition-interval=400}}
				  {{#carousel-body}}
				    {{#carousel-item}}
							<a href="#casa-tomada">
								<div class="ebp ebp_sonidos-mutantes">
									<h3>Sonidos Mutantes | VJ</h3>
								</div>
							</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
							<a href="http://pilasbloques.program.ar/" title="Pilas Bloques" target="_blank">
								<div class=" ebp ebp_sadosky">
									<h3>Fundación Sadosky | Videojuegos | Desarrollo</h3>
								</div>
							</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
							<a href="http://fdm.rio20.net/?q=es/node/2115" title="World Democratic Forum" target="_blank">
								<div class=" ebp ebp_wdf">
									<h3>World Democratic Forum | Responsive Design</h3>
								</div>
							</a>
				    {{/carousel-item}}
				  {{/carousel-body}}

				  {{#carousel-arrow direction="left" tagName="button"}}
				    Slide Left
				  {{/carousel-arrow}}
				  {{#carousel-arrow direction="right" tagName="button"}}
				    Slide Right
				  {{/carousel-arrow}}
				{{/carousel-container}}
