<div class="fullscreen-bg" id="welcome-video-container">
	<video muted autoplay poster="" class="fullscreen-bg_video" id="welcome-video">
		<source src="video/enjambre-bit-logo-bg.mp4" type="video/mp4">
		<source src="video/enjambre-bit-logo-bg.ogv" type="video/ogg">
	</video>
</div>
<section id="home" class="ebit-home">
    <div class="container-fluid menu-bloques">
        <div class="row">
            <div class="col-md-4">
				<div class="col-md-12 bloque-menu bm-borde bm-quienes-somos">
					<video muted controls poster="" class="menu-video" id="quienes-somos-video-home">
						<source src="video/enjambre-bit_quienes-somos_12fps.mp4" type="video/mp4">
						<source src="video/enjambre-bit_quienes-somos_12fps.ogv" type="video/ogg">
					</video>
				</div>
				<a href="#quienes-somos" id="quienes-somos-home-link">
					<div class="bloque-menu-label">quiénes somos</div>
                </a>
            </div>
            <div class="col-md-4">
				<div class="col-md-12 bloque-menu bm-borde bm-que-hacemos">
					<video muted controls poster="" class="menu-video" id="que-hacemos-video-home">
						<source src="video/enjambre-bit_que-hacemos_12fps.mp4" type="video/mp4">
						<source src="video/enjambre-bit_que-hacemos_12fps.ogv" type="video/ogg">
					</video>
				</div>
				<a href="#que-hacemos" id="que-hacemos-home-link">
					<div class="bloque-menu-label">qué hacemos</div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 bloque-menu bm-logo">
                    <div class="ebit-mini-logo"></div>
                    <div class="menu-redes">
                        <ul class="social gray">
                            <li><a href="https://twitter.com/enjambrebit"><i class="icon-s-twitter"></i></a></li>
                            <li><a href="https://facebook.com/EnjambreBit"><i class="icon-s-facebook"></i></a></li>
                            <li><a href="https://instagram.com/EnjambreBit"><i class="icon-s-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/enjambre-bit-srl"><i class="icon-s-linkedin"></i></a></li>
                            <li><a href="https://github.com/EnjambreBit"><i class="icon-s-github"></i></a></li>
                            <li><a href="#contacto">contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="divide20"></div>
        <div class="row">
            <div class="col-md-4">
                <a href="#lab">
                    <div class="col-md-12  bloque-menu bm-borde bm-lab">
                        <div class="bloque-menu-label">lab</div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#casa-tomada">
                    <div class="col-md-12 bloque-menu bm-borde bm-casa-tomada">
                        <div class="bloque-menu-label">casa tomada</div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://blog.enjambrelab.com.ar">
                    <div class="col-md-12  bloque-menu bm-borde bm-blog">
                        <div class="bloque-menu-label">blog</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{{#enjambre-section id="quienes-somos" class="light-wrapper" title="quiénes somos"}}
    <div class="container inner inner-about">
		<div class="video-container">
			<video muted autoplay poster="" class="quienes-somos_video">
				<source src="video/enjambre-bit-logo-bg.mp4" type="video/mp4">
				<source src="video/enjambre-bit-logo-bg.ogv" type="video/ogg">
			</video>
		</div>
		<div class="divide25"></div>
		<p>En Enjambre Bit:</p>
		<ul>
			<li>Somos una <b>empresa joven.</b></li>
			<li>Concebimos <b>el juego</b> como una de las partes <i>fundamentales</i> a la hora de llevar adelante la empresa o cualquier proyecto.</li>
			<li>El desafío es el motor, lo que nos moviliza día a día
				<ul>
					<li>a experimentar</li>
					<li>a desarrollar</li>
					<li>a elaborar proyectos.</li>
				</ul>
			</li>
			<li>Entendemos al desarrollo en un sentido amplio, que excede la referencia al desarrollo de software.</li>
		</ul>
		<p>Enjambre Bit es todo eso y mucho más.</p>
		<a href="#contacto"><b>Escribinos, contanos tu idea.</b></a>
    </div>
{{/enjambre-section}}

{{#enjambre-section id="que-hacemos" class="light-wrapper" title="qué hacemos"}}
    <div class="container inner inner-about">
      <div class="video-container">
  		  <video muted controls poster="" class="que-hacemos_video">
  					<source src="video/enjambre-bit_que-hacemos_12fps.mp4" type="video/mp4">
  					<source src="video/enjambre-bit_que-hacemos_12fps.ogv" type="video/ogg">
  			</video>
      </div>
      <div class="ebit-portfolio">
        <h3>Algunos trabajos</h3>
  		  <div class="row">
    			<div class="col-md-4">
            <div class="ebp ebp_sonidos-mutantes">
    				  <h3>Sonidos Mutantes | VJ</h3>
            </div>
    			</div>
    			<div class="col-md-4">
            <div class=" ebp ebp_sadosky">
    				      <h3>Fundación Sadosky | Videojuegos | Desarrollo</h3>
            </div>
    			</div>
          <div class="col-md-4">
            <div class=" ebp ebp_wdf">
    				      <h3>World Democratic Forum | Responsive Design</h3>
            </div>
    			</div>
  		  </div>
        <div class="divide15"></div>
  		  <div class="row">
    			<div class="col-md-4">
            <div class=" ebp ebp_indexar">
    				      <h3>Indexar | Front End | Desarrollo</h3>
            </div>
    			</div>
    			<div class="col-md-4">
            <div class=" ebp ebp_berko">
    				      <h3>Berko S.A. | Website</h3>
            </div>
    			</div>
          <div class="col-md-4">
            <div class=" ebp ebp_podcast-igualdad">
    				      <h3>Podcast Igualdad | Desarrollo</h3>
            </div>
    			</div>
  		  </div>
      </div>
    </div>
{{/enjambre-section}}

{{#enjambre-section id="lab" class="bg_lab" title="lab"}}
    <div class="container inner inner-about lab">
      <h1>Proyector Holográfico</h1>
      <h3>En desarrollo</h3>
      <p>Buscamos nuevas formas de jugar con la tecnología y el arte</p>
    </div>
{{/enjambre-section}}

{{#enjambre-section id="casa-tomada" class="bg_sonidos-mutantes" title="Sonidos Mutantes"}}
    <div class="container inner inner-about sonidos-mutantes">
		<h1>VJ</h1>
		<h3>Visuales Sonidos Mutantes</h3>
		<p><i>Buscamos...</i></p>
		<ul>
			<li><b>Romper</b> con los <b>límites</b> del video clip.</li>
			<li><b>Acercarlo</b> al mundo del videojuego.</li>
			<li>Establecer <b>un diálogo</b> con el entorno <b>sonoro</b>.</li>
		</ul>
    <div class="divide25"></div>
    <p>Muy pronto, te mostramos la experiencia completa...</p>
    </div>
{{/enjambre-section}}


{{#enjambre-section id="contacto" class="contact-wrapper" title="contacto"}}
    <div class="container inner inner-about">
      <div class="row">
        <div class="col-md-7">
          <iframe src="http://mailer-form.enjambrelab.com.ar/" width="100%" height="650"></iframe>
        </div>
        <!-- /.span8 -->
        <aside class="col-md-5 sidebar lp10">
          <div class="sidebox widget">
                <img style="margin: 20px 0px 30px 50px" src="images/enjambre_bit_isologo.png" />
            <ul class="contact-info">
              <li><i class="icon-location"></i> Ciudad Autónoma de Buenos Aires, Argentina</li>
              <li><i class="icon-mail"></i> <a href="mailto:contacto@enjambrebit.com.ar">contacto@enjambrebit.com.ar</a></li>
              <li><a href="https://twitter.com/enjambrebit"><i class="icon-s-twitter"></i> Seguinos en Twitter!</a></li>
              <li><a href="https://facebook.com/EnjambreBit"><i class="icon-s-facebook"></i> Visitanos en Facebook!</a></li>
              <li><a href="https://instagram.com/EnjambreBit"><i class="icon-s-instagram"></i> Seguinos en Instagram!</a></li>
              <li><a href="https://www.linkedin.com/company/enjambre-bit-srl"><i class="icon-s-linkedin"></i> Nuestro perfil en LinkedIn.</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="clearfix"></div>
    </div>
{{/enjambre-section}}
{{video-control}}
