<section id="home" class="offset fullscreen-bg">
    <video muted autoplay poster="" class="fullscreen-bg_video">
      <source src="video/enjambre-bit-logo.mp4" type="video/mp4">
    </video>
</section>
