<section id="home" class="offset fullscreen-bg">
    <video muted autoplay poster="" class="fullscreen-bg_video">
      <source src="video/enjambre-bit-logo.mp4" type="video/mp4">
    </video>
</section>

<div class="parallax paralaje_a2">
	<div class="container inner text-center">
	</div>
</div>

{{#enjambre-section id="about" class="light-wrapper" title="enjambre bit"}}
    <div class="container inner inner-about">
      <h1>Enjambre Bit</h1>
      <p>Somos algo</p>
      
	</div>
{{/enjambre-section}}

<div class="parallax paralaje_a2">
	<div class="container inner text-center">
	</div>
</div>

{{#enjambre-section id="contact" class="" title="contacto"}}
  <div class="parallax contact">
    <div class="container inner">
      <div class="row">
        <div class="span7">
          <iframe src="http://mailer-form.enjambrelab.com.ar/" width="100%" height="650"></iframe>
        </div>
        <!-- /.span8 -->
        <aside class="span5 sidebar lp10">
          <div class="sidebox widget">
                <img style="margin: 20px 0px 30px 50px" src="images/enjambre_bit_isologo.png" />
            <ul class="contact-info">
              <li><i class="icon-location"></i> Ciudad Autónoma de Buenos Aires, Argentina</li>
              <li><i class="icon-mail"></i> <a href="mailto:contacto@enjambrebit.com.ar">contacto@enjambrebit.com.ar</a></li>
              <li><a href="https://twitter.com/enjambrebit"><i class="icon-s-twitter"></i> Seguinos en Twitter!</a></li>
              <li><a href="https://facebook.com/EnjambreBit"><i class="icon-s-facebook"></i> Visitanos en Facebook!</a></li>
              <li><a href="https://www.linkedin.com/company/enjambre-bit-srl"><i class="icon-s-linkedin"></i> Nuestro perfil en LinkedIn.</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{{/enjambre-section}}
