<div class="fullscreen-bg" id="welcome-video-container">
	<video muted autoplay poster="" class="fullscreen-bg_video" id="welcome-video">
		<source src="video/enjambre-bit-logo-bg.mp4" type="video/mp4">
		<source src="video/enjambre-bit-logo-bg.ogv" type="video/ogg">
	</video>
</div>
<div class="home-placeholder-bg" id="home-placeholder"></div>
<section id="home" class="ebit-home">
    <div class="container-fluid menu-bloques">
        <div class="row">
            <div class="col-md-4">
							<div class="col-md-12 bloque-menu bm-borde bm-quienes-somos">
								<a href="#quienes-somos" id="quienes-somos-home-link">
								<div class="bloque-menu-label">quiénes somos</div>
			        </a>
								<video muted controls poster="" class="menu-video" id="quienes-somos-video-home">
									<source src="video/enjambre-bit_quienes-somos_12fps.mp4" type="video/mp4">
									<source src="video/enjambre-bit_quienes-somos_12fps.ogv" type="video/ogg">
								</video>
							</div>

            </div>
            <div class="col-md-4">
				<div class="col-md-12 bloque-menu bm-borde bm-que-hacemos">
				<a href="#que-hacemos" id="que-hacemos-home-link">
					<div class="bloque-menu-label">qué hacemos</div>
                </a>
					<video muted controls poster="" class="menu-video" id="que-hacemos-video-home">
						<source src="video/enjambre-bit_que-hacemos_12fps.mp4" type="video/mp4">
						<source src="video/enjambre-bit_que-hacemos_12fps.ogv" type="video/ogg">
					</video>
				</div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 bloque-menu bm-logo">
                    <div class="ebit-mini-logo"></div>
                    <div class="menu-redes">
                        <ul class="social gray">
                            <li><a href="https://twitter.com/enjambrebit"><i class="icon-s-twitter"></i></a></li>
                            <li><a href="https://facebook.com/EnjambreBit"><i class="icon-s-facebook"></i></a></li>
                            <li><a href="https://instagram.com/EnjambreBit"><i class="icon-s-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/enjambre-bit-srl"><i class="icon-s-linkedin"></i></a></li>
                            <li><a href="https://github.com/EnjambreBit"><i class="icon-s-github"></i></a></li>
                            <li><a href="#contacto">contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="divide20"></div>
        <div class="row">
            <div class="col-md-4">
                <a href="#lab">
                    <div class="col-md-12  bloque-menu bm-borde bm-lab">
                        <div class="bloque-menu-label">lab</div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#casa-tomada">
                    <div class="col-md-12 bloque-menu bm-borde bm-casa-tomada">
                        <div class="bloque-menu-label">casa tomada</div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://blog.enjambrelab.com.ar">
                    <div class="col-md-12  bloque-menu bm-borde bm-blog">
                        <div class="bloque-menu-label">blog</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{{#enjambre-section id="quienes-somos" class="light-wrapper" title="quiénes somos"}}
    <div class="container inner inner-about">
		<div class="video-container">
			<video muted controls poster="" class="quienes-somos_video">
				<source src="video/enjambre-bit-logo-bg.mp4" type="video/mp4">
				<source src="video/enjambre-bit-logo-bg.ogv" type="video/ogg">
			</video>
		</div>
		<div class="divide25"></div>
		<p>En Enjambre Bit:</p>
		<ul>
			<li>Somos una <b>empresa joven.</b></li>
			<li>Concebimos <b>el juego</b> como una de las partes <i>fundamentales</i> a la hora de llevar adelante la empresa o cualquier proyecto.</li>
			<li>El desafío es el motor, lo que nos moviliza día a día
				<ul>
					<li>a experimentar</li>
					<li>a desarrollar</li>
					<li>a elaborar proyectos.</li>
				</ul>
			</li>
			<li>Entendemos al desarrollo en un sentido amplio, que excede la referencia al desarrollo de software.</li>
		</ul>
		<p>Enjambre Bit es todo eso y mucho más.</p>
		<a href="#contacto"><b>Escribinos, contanos tu idea.</b></a>
    </div>
{{/enjambre-section}}

{{#enjambre-section id="que-hacemos" class="light-wrapper" title="qué hacemos"}}
      <div class="video-container">
  		  <video muted controls poster="" class="que-hacemos_video">
  					<source src="video/enjambre-bit_que-hacemos_12fps.mp4" type="video/mp4">
  					<source src="video/enjambre-bit_que-hacemos_12fps.ogv" type="video/ogg">
  			</video>
      </div>


				{{#carousel-container transition-interval=500}}
				  {{#carousel-body}}
				    {{#carousel-item}}
							<a href="#casa-tomada">
								<div class="aligner ebp ebp_sonidos-mutantes">
									<div class="aligner-item">
										<h3>Sonidos Mutantes <span class="red">|</span> <span class="yellow">VJ</span></h3>
									</div>
								</div>
							</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
							<a href="http://pilasbloques.program.ar/" title="Pilas Bloques" target="_blank">
								<div class="aligner ebp ebp_sadosky">
									<div class="aligner-item">
										<h3>Fundación Sadosky <span class="red">|</span> <span class="yellow">Videojuegos <span class="red">|</span> Desarrollo</span></h3>
									</div>
								</div>
							</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
							<a href="http://fdm.rio20.net/?q=es/node/2115" title="World Democratic Forum" target="_blank">
								<div class="aligner ebp ebp_wdf">
									<div class="aligner-item">
										<h3>World Democratic Forum <span class="red">|</span> <span class="yellow">Responsive Design</span></h3>
									</div>
								</div>
							</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
							<a href="http://www.indexar.com.ar" title="Indexar" target="_blank">
								<div class="aligner ebp ebp_indexar">
									<div class="aligner-item">
										<h3>Indexar <span class="red">|</span> <span class="yellow">Frontend <span class="red">|</span> Desarrollo</span></h3>
									</div>
								</div>
							</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
						<a href="http://www.berko.com.ar" title="Precintos Berko S.A." target="_blank">
							<div class="aligner ebp ebp_berko">
								<div class="aligner-item">
									<h3>Berko S.A. <span class="red">|</span> <span class="yellow">Website Design</span></h3>
								</div>
							</div>
						</a>
				    {{/carousel-item}}
				    {{#carousel-item}}
						<a href="http://www.podcastigualdad.com.ar" title="Podcast Igualdad" target="_blank">
							<div class="aligner ebp ebp_podcast-igualdad">
								<div class="aligner-item">
									<h3>Podcast Igualdad <span class="red">|</span> <span class="yellow">Desarrollo</span></h3>
								</div>
							</div>
						</a>
				    {{/carousel-item}}
				  {{/carousel-body}}

				  {{#carousel-arrow direction="left" tagName="div" class="line-arrow line-arrow-left"}}
				  {{/carousel-arrow}}
				  {{#carousel-arrow direction="right" tagName="div" class="line-arrow line-arrow-right"}}
				  {{/carousel-arrow}}
				{{/carousel-container}}

{{/enjambre-section}}

{{#enjambre-section id="lab" class="bg_lab" title="lab"}}
    <div class="row lab">
		<div class="col-md-6">

		</div>
		<div class="col-md-6">
			<h1>Proyector Holográfico</h1>
			<h3>Prueba de concepto</h3>
			<p><span class="prompt">> </span>Buscamos nuevas formas de jugar con la tecnología y el arte.</p>
			<p><span class="prompt">> </span>Nuevas maneras de mostrar contenido.</p>
			<p><span class="prompt">> </span>Por eso construimos el Proyector Holográfico y lo podés ver funcionando en el tercer piso de la <a href="http://www.casadelbicentenario.gob.ar/" title="Casa Nacional del Bicentenario" target="_blank">Casa Nacional del Bicentenario</a>, Riobamba 985, CABA.</p>
			<div class="divide25"></div>
				<div>
					<iframe style="box-shadow: 0 0 12px black;" width="560" height="315" src="https://www.youtube.com/embed/ibG9KhIoq0o?rel=0&autohide=1" frameborder="0" allowfullscreen></iframe>
				</div>
		</div>
    </div>
{{/enjambre-section}}

{{#enjambre-section id="casa-tomada" class="bg_sonidos-mutantes" title="Sonidos Mutantes"}}
    <div class="row sonidos-mutantes">
		<div class="col-md-6">
			<h1>VJ</h1>
			<h3>Visuales Sonidos Mutantes</h3>
			<p><i>Buscamos...</i></p>
			<ul>
				<li><b>Romper</b> con los <b>límites</b> del video clip.</li>
				<li><b>Acercarlo</b> al mundo del videojuego.</li>
				<li>Establecer <b>un diálogo</b> con el entorno <b>sonoro</b>.</li>
			</ul>
			<div class="divide25"></div>
			<p>Performance sonora #BandaDeMutantes + Enjambre Bit en #LaNocheDeLosMuseos.</p>
		</div>
		<div class="col-md-6">
			<iframe style="box-shadow: 0 0 12px black;"  width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLiNYie50PdtQPUokzmR0acYp3fPfVByhD&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>

    </div>
{{/enjambre-section}}


{{#enjambre-section id="contacto" class="contact-wrapper" title="contacto"}}
    <div class="container inner inner-about">
      <div class="row">
        <div class="col-md-7">
          <iframe src="http://mailer-form.enjambrelab.com.ar/" width="100%" height="650"></iframe>
        </div>
        <!-- /.span8 -->
        <aside class="col-md-5 sidebar lp10">
          <div class="sidebox widget">
                <img style="margin: 20px 0px 30px 50px" src="images/enjambre_bit_isologo.png" />
            <ul class="contact-info">
              <li><i class="icon-location"></i> Ciudad Autónoma de Buenos Aires, Argentina</li>
              <li><i class="icon-mail"></i> <a href="mailto:contacto@enjambrebit.com.ar">contacto@enjambrebit.com.ar</a></li>
              <li><a href="https://twitter.com/enjambrebit"><i class="icon-s-twitter"></i> Seguinos en Twitter!</a></li>
              <li><a href="https://facebook.com/EnjambreBit"><i class="icon-s-facebook"></i> Visitanos en Facebook!</a></li>
              <li><a href="https://instagram.com/EnjambreBit"><i class="icon-s-instagram"></i> Seguinos en Instagram!</a></li>
              <li><a href="https://www.linkedin.com/company/enjambre-bit-srl"><i class="icon-s-linkedin"></i> Nuestro perfil en LinkedIn.</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="clearfix"></div>
    </div>
{{/enjambre-section}}

{{video-control}}
