<div class="fullscreen-bg" id="welcome-video-container">
		<video muted autoplay controls="" poster="images/enjambre-bit-logo-video.jpg" class="fullscreen-bg_video" id="video-quienes-somos">
			<source src="video/enjambre-bit_quienes-somos-short-version_24fps.mp4" type="video/mp4">
			<source src="video/enjambre-bit_quienes-somos-short-version_24fps.ogv" type="video/ogg">
				Video no soportado.
		</video>
</div>
<div class="ebit-home" id="home-placeholder">
	<div class="ebit-home-logo-seguinos">
		<div style="display: block; margin-top: 10%;"></div>
		<img src="images/enjambre-bit_logo_seguinos.png">
		<div class="fixed-contact-info">
			<ul>
				<li><a href="https://twitter.com/enjambrebit" target="_blank" title="¡Seguinos en Twitter!"><i class="icon-s-twitter"></i></a></li>
				<li><a href="https://facebook.com/EnjambreBit" target="_blank" title="¡Seguinos en Facebook!"><i class="icon-s-facebook"></i></a></li>
				<li><a href="https://instagram.com/EnjambreBit" target="_blank" title="Nuestra cuenta en Instagram"><i class="icon-s-instagram"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UC0qxtMgKiGmKNqLeMOxzt8Q" target="_blank" title="Nuestro canal de YouTube"><i class="icon-s-youtube"></i></a></li>
				<li><a href="https://www.linkedin.com/company/enjambre-bit-srl" target="_blank" title="Nuestro perfil en LinkedIn"><i class="icon-s-linkedin"></i></a></li>
				<li><a href="https://github.com/EnjambreBit" target="_blank" title="Conocé nuestros proyectos en GitHub"><i class="icon-s-github"></i></a></li>
			</ul>
		</div>
	</div>
</div>
{{video-control}}
