  <section id="lightbox" class="light-wrapper">
    <div class="section-head">
      <div class="container">
        <h1>Lightbox Portfolio</h1>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.section-head -->
    <div class="container lightbox-wrapper">
      <div class="inner">
        <p class="lead">Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <div class="divide30"></div>
        <ul class="filter">
          <li><a class="active" href="#" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".branding">Branding</a></li>
          <li><a href="#" data-filter=".poster">Poster</a></li>
          <li><a href="#" data-filter=".illustration">Illustration</a></li>
        </ul>
        <!-- /.filter -->
        
        <ul class="items thumbs">
          <li class="item thumb branding"> <a href="images/art/p1.jpg" class="view" data-rel="lightbox" title="Headlight Media">
            <div class="overlay">
              <div class="info">
                <h4>Headlight Media</h4>
                <span>Logo, Branding</span> </div>
              <!-- /.info --> 
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p1.jpg" alt="" /></a> </li>
          <!-- /.item -->
          <li class="item thumb illustration"> <a href="images/art/p2.jpg" class="view" data-rel="lightbox" title="Media Icons">
            <div class="overlay">
              <div class="info">
                <h4>Media Icons</h4>
                <span>Icons, Vector</span> </div>
              <!-- /.info --> 
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p2.jpg" alt="" /></a> </li>
          <!-- /.item -->
          <li class="item thumb poster illustration"> <a href="images/art/p3.jpg" class="view" data-rel="lightbox" title="Quizzical Lumberjack">
            <div class="overlay">
              <div class="info">
                <h4>Quizzical Lumberjack</h4>
                <span>Illustration, Hackathon</span> </div>
              <!-- /.info --> 
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p3.jpg" alt="" /></a> </li>
          <!-- /.item -->
          <li class="item thumb illustration"> <a href="images/art/p4.jpg" class="view" data-rel="lightbox" title="Hacked">
            <div class="overlay">
              <div class="info">
                <h4>Hacked</h4>
                <span>Illustration, Vector</span> </div>
              <!-- /.info --> 
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p4.jpg" alt="" /></a> </li>
          <!-- /.item -->
          <li class="item thumb branding"> <a href="images/art/p5.jpg" class="view" data-rel="lightbox" title="Hackathon Icons">
            <div class="overlay">
              <div class="info">
                <h4>Hackathon Icons</h4>
                <span>Icons, Illustration</span> </div>
              <!-- /.info --> 
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p5.jpg" alt="" /></a> </li>
          <!-- /.item -->
          <li class="item thumb branding"> <a href="images/art/p6.jpg" class="view" data-rel="lightbox" title="B is for Books">
            <div class="overlay">
              <div class="info">
                <h4>B is for Books</h4>
                <span>Logo, Branding</span> </div>
              <!-- /.info --> 
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p6.jpg" alt="" /></a> </li>
          <!-- /.item -->
          <li class="item thumb branding poster"> <a href="images/art/p7.jpg" class="view" data-rel="lightbox" title="Wildfire Ambigram">
            <div class="overlay">
              <div class="info">
                <h4>Wildfire Ambigram</h4>
                <span>Logo, Typography</span> </div>
              <!-- /.info --> 
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p7.jpg" alt="" /></a> </li>
          <!-- /.item -->
          <li class="item thumb poster"> <a href="images/art/p8.jpg" class="view" data-rel="lightbox" title="All Tied Up">
            <div class="overlay">
              <div class="info">
                <h4>All Tied Up</h4>
                <span>Branding, Illustration</span> </div>
              <!-- /.info --> 
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p8.jpg" alt="" /></a> </li>
          <!-- /.item -->
          <li class="item thumb illustration"> <a href="images/art/p9.jpg" class="view" data-rel="lightbox" title="Icons from Outer Space">
            <div class="overlay">
              <div class="info">
                <h4>Icons from Outer Space</h4>
                <span>Vector, Icon</span> </div>
              <!-- /.info --> 
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p9.jpg" alt="" /></a> </li>
          <!-- /.item -->
          <li class="item thumb branding"> <a href="images/art/p10.jpg" class="view" data-rel="lightbox" title="Sign Up!">
            <div class="overlay">
              <div class="info">
                <h4>Sign Up!</h4>
                <span>Icon, Vector</span> </div>
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p10.jpg" alt="" /></a> </li>
          <!-- /.item -->
          <li class="item thumb poster"> <a href="images/art/p11.jpg" class="view" data-rel="lightbox" title="Promotion Concept">
            <div class="overlay">
              <div class="info">
                <h4>Promotion Concept</h4>
                <span>Logo, Concept</span> </div>
              <!-- /.info --> 
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p11.jpg" alt="" /></a> </li>
          <!-- /.item -->
          <li class="item thumb illustration"> <a href="images/art/p12.jpg" class="view" data-rel="lightbox" title="Giant Octopus">
            <div class="overlay">
              <div class="info">
                <h4>Giant Octopus</h4>
                <span>Poster, Illustration</span> </div>
              <!-- /.info --> 
            </div>
            <!-- /.overlay --> 
            <img src="images/art/p12.jpg" alt="" /></a> </li>
          <!-- /.item -->
        </ul>
        <!--/.items--> 
      </div>
      <!--/.inner--> 
    </div>
    <!--/.container--> 
  </section>
  <!--/#lightbox-->
